API_PORT=
API_HOST=
JWT_SECRET=
JWT_EXPIRES_IN=


API_DB_NAME=
API_DB_USR_NAME=
API_DB_PASSWD=
API_DB_PORT=
API_DB_HOST=
API_DB_ENTITY_PATTERN=


API_CORS_ALLOWED_HEADERS=*
API_CORS_ORIGIN=*
API_CORS_CREDENTIALS=

PG_VERSION=